
  #editor {
    padding: 10px;
    background-color: white;
    height: calc(100vh - 50px);
    width: 100%;
    box-sizing: border-box;
    resize: none;
    overflow: auto;
}

#save-btn{
    padding:13px;
    background-color: lime;
    border:none;
    border-radius: 8px;
    float:right;
    margin-top:10px;
    font-size:15px;
}